.check_bot .status:before {
	content: ' ';
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 50%;
	margin-right: 8px;
}
.check_bot.online .status:before{
	background: #3278f7;
	box-shadow: 0 0 2px #445bff;
}
.check_bot.failed .status:before{
	background: red;
	box-shadow: 0 0 2px red;
}

.wpcf7tg_notice{
    background: #fff;
    border: 1px solid #ccd0d4;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin: 5px 0px 2px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 750px;
    height: 30px;
}
.wpcf7tg_notice[status="pending"]{
    border-left-color: #f90;
}
.wpcf7tg_notice[status="active"]{
    border-left-color: #01a934;
}
.wpcf7tg_notice[status="deleted"]{
    
opacity: .4;
}

.wpcf7tg_notice .buttons,
.wpcf7tg_notice .info{}

.wpcf7tg_notice .buttons{}
.wpcf7tg_notice .info{}

.wpcf7tg_notice .username{}
.wpcf7tg_notice .nickname{
    font-family: monospace;
    color: #ccc;
}
.wpcf7tg_notice .buttons a{
    cursor: pointer;
    text-transform: uppercase;
    margin: 0px 10px;
    display: inline-block;
}

.wpcf7tg_notice .buttons .approve{
    color: #01a934;
}
.wpcf7tg_notice .buttons .pause{
    color: #f90;
}
.wpcf7tg_notice .buttons .refuse{
    color: #F00;
}

.wpcf7tg_notice[status="pending"] .buttons .pause{
	display : none;
}

.wpcf7tg_notice[status="active"] .buttons .approve{
	display : none;
}

.wpcf7tg_notice[status="deleted"] .buttons{
	display : none;
}