body.contact-1_page_wpcf7_tg {
  background-color: #0e1621;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #b5b5b5;
  }

  #settings-content {
    color: #fff;
  }
}

.cf7-tg-container {

  .entity-container {
    flex-basis: 360px;
    flex-shrink: 0;
    border-width: 4px;
    border-style: dashed;
    border-radius: 12px;
    padding: 10px;

    .entity-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .frame {
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    padding: 10px;
  }

  .bots-container {
    .bot-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .bot {
        border-color: #0c88b4;

        .bot-summary {
          border-color: #0a4b78;
        }
        .chats-for-bot {
            border-color: #1d1f2c;
        }

        .bot-token {
          .token-value {
            font-family: Monospace, serif;
            padding: 2px 5px;
            background-color: #2f2f2f;
          }
        }
      }
    }
  }

  .channels-container {
    .channel-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .channel {
        border-color: #2f4f37;

        > h4 {
        }

        .channel-wrapper {}

        .bots {
          border-color: #37465d;
        }

        .chats {
          border-color: #505145;
        }

        .forms {
          border-color: #797083;
        }

        .edit-title {
          display: flex;
          gap: 0.5em;
          align-items: center;

          input {
            padding: 4px;
            font-size: 1em;
          }

          button {
            cursor: pointer;
            padding: 4px 8px;
          }
        }
      }
    }
  }
}
