body.contact-1_page_wpcf7_tg {
    background-color: #101021;
}
body.contact-1_page_wpcf7_tg h1,
body.contact-1_page_wpcf7_tg h2,
body.contact-1_page_wpcf7_tg h3,
body.contact-1_page_wpcf7_tg h4,
body.contact-1_page_wpcf7_tg h5,
body.contact-1_page_wpcf7_tg h6 {
    color: #b5b5b5;
}
body.contact-1_page_wpcf7_tg #settings-content {
    color: #fff;
}
.cf7-tg-channels-container {}
.cf7-tg-channels-container .cf7-tg-channel-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.cf7-tg-channels-container .cf7-tg-channel-list .channel {
    flex-basis: 360px;
    flex-shrink: 0;
    border: 1px dashed #2f4f37;
    padding: 10px;
}
.cf7-tg-channels-container .cf7-tg-channel-list .channel .cf7tg-channel-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cf7-tg-channels-container .cf7-tg-channel-list .channel > h4{}
.cf7-tg-channels-container .cf7-tg-channel-list .channel .bots{
    border: 1px dotted #37465d;
    padding: 10px;
}
.cf7-tg-channels-container .cf7-tg-channel-list .channel .chats{
    border: 1px dotted #505145;
    padding: 10px;
}
.cf7-tg-channels-container .cf7-tg-channel-list .channel .forms{
    border: 1px dotted #797083;
    padding: 10px;
}

.cf7-tg-channels-container .cf7-tg-channel-list .channel .edit-title {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.cf7-tg-channels-container .cf7-tg-channel-list .channel .edit-title input {
    padding: 4px;
    font-size: 1em;
}

.cf7-tg-channels-container .cf7-tg-channel-list .channel .edit-title button {
    cursor: pointer;
    padding: 4px 8px;
}

