body.contact-1_page_wpcf7_tg {
  background-color: #0e1621;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #b5b5b5;
  }

  #settings-content {
    color: #fff;
  }
}

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu>li.current>a.current:after {
  border-right-color: #0e1621;
}

.cf7-tg-container {
  display: flex;
  width: 100%;
  gap: 32px;

  .list-container {
    width: 375px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .title-container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px 0;

    .title {
      margin: 0;
    }

    .add-button {
      background: none;
      border: none;
      border-radius: 5px;
      color: #1f3047;
      cursor: pointer;
      font-size: 12px;
      text-align: center;

      &:hover {
        color: #0c87b3;
      }
    }
  }

  .entity-container {
    flex-basis: 360px;
    flex-shrink: 0;

    .entity-wrapper {
      display: flex;
      flex-direction: column;
      gap: 15px;

      border-width: 4px;
      border-style: dashed;
      border-radius: 12px;
      padding: 14px 16px;

      transition: all .4s ease;

      &.saving {
        opacity: .5;
      }
    }

    .add-button {
      background: none;
      border: none;
      border-radius: 5px;
      color: #1f3047;
      cursor: pointer;
      font-size: 12px;
      text-align: center;

      &:hover {
        color: #0c87b3;
      }
    }
  }

  .frame {
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    padding: 0;
  }

  .bots-container {

    .bot-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .bot {
        width: 100%;
        flex-basis: unset;
      }


      .bot-wrapper {
        border-color: rgba(12, 136, 180, 0.09);

        &.offline {
          border-color: #432929;
        }

        &.online {
          border-color: #0c88b4;
        }

        .bot-summary {
          position: relative;
          border-color: #0a4b78;
          border: none;
          font-family: monospace;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .bot-title {

            .bot-name {
              margin: 0;
              padding: 2px 8px;
              background-color: #09090c;
              color: #246b9d;
              border-radius: 5px;
              text-align: center;
              font-weight: 100;
              font-size: 15px;

              a, a:focus, a:active, a:visited {
                color: inherit;
                text-decoration: none;
                outline: none !important;
                -webkit-tap-highlight-color: transparent;
                box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
              }
            }
          }

          .bot-token {
            text-align: center;
            color: #465b79;

            .token-value,
            .edit-token {
              font-family: Monospace, serif;
              padding: 2px 5px;
              background-color: #09090c;
            }

            .edit-token {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
              width: 100%;
              text-align: inherit;
              color: inherit;
              line-height: 100%;
            }
          }
        }


        &.offline {
          .bot-name {
            color: #573535 !important;
          }
        }

        &.online {
          .bot-name {
            box-shadow: 0 0 20px 0 #0c88b452;
          }
        }

        .chats-for-bot {
          border-color: #1d1f2c;
          border: none;

          h5 {
            margin: 0;
            text-align: center;
            text-transform: uppercase;
            color: #375885;
            font-size: 11px;
          }

          .chat-item {
            display: flex;
            justify-content: start;

            .chat-name {
              width: 120px;
              text-align: right;
            }

            &.active {
              color: #35894c;
            }

            &.pending {
              color: #898735;
            }

            &.muted {
              color: #893535;
            }

            span {
              cursor: pointer;
              padding: 0 5px;
            }
          }

          .no-chats-found {
            text-align: center;
            color: #0c88b4;
            font-size: 12px;
            font-style: italic;
          }
        }

        .status-bar {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .remove-bot-button {
            background: none;
            border: none;
            border-radius: 5px;
            color: #1f3047;
            cursor: pointer;
            font-size: 12px;
            text-align: center;
            padding: 0;

            &:hover {
              color: #873d3d;
            }
          }

          .bot-status {
            font-size: 12px;

            &.online {
              color: #0c88b4;
            }

            &.offline {
              color: #573535;
            }

            &.unknown {
              color: #b5b5b5;
            }
          }
        }
      }
    }
  }

  .channels-container {
    flex: 1;

    .channel-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .channel {

        > h4 {
        }

        .channel-wrapper {
          border-color: #2f4f37;
        }

        .bots {
          border-color: #37465d;
        }

        .chats {
          border-color: #505145;
        }

        .forms {
          border-color: #797083;
        }

        .edit-title {
          display: flex;
          gap: 0.5em;
          align-items: center;

          input {
            padding: 4px;
            font-size: 1em;
          }

          button {
            cursor: pointer;
            padding: 4px 8px;
          }
        }

        .detach-button {
          background: none;
          border: none;
          border-radius: 5px;
          color: #1f3047;
          cursor: pointer;
          font-size: 12px;
          text-align: center;
          padding: 0;

          &:hover {
            color: #873d3d;
          }
        }
      }
    }
  }
}
