<?php

const WP_SITEURL = 'https://%s/';
const WP_HOME    = 'https://%s/';

define( 'DB_NAME', '%s' );
define( 'DB_USER', '%s' );
define( 'DB_PASSWORD', '%s' );
define( 'DB_HOST', '%s' );
define( 'DB_CHARSET', 'utf8' );
define( 'DB_COLLATE', '' );
$table_prefix = 'wp_';

define( 'WP_DEBUG', false );
define( 'CF7TGDEV_ROOT', __DIR__ );

if ( ! defined('ABSPATH') ) {
	define( 'ABSPATH', CF7TGDEV_ROOT . '/wordpress/' );
}

define( 'WP_CONTENT_DIR', CF7TGDEV_ROOT . '/dev-content/' );
